{% extends 'base.html' %}

{% block title %}
    Додавання клієнта
{% endblock%}

{% block body %}
    <h1>Додавання клієнта</h1>
    <div class="container mt-5">
    <form method="POST">
        <input type="text" name="name_company" id="name_company" class="form-control" placeholder="Введіть назву компанії" required><br>
        <input type="number_docs" name="number_docs" id="number_docs" class="form-control" placeholder="Введіть номер рахунку" required><br>
        <textarea name="company_details" id="company_details" class="form-control" rows="12" placeholder="Введіть реквізити компанії" required></textarea><br>
        <input type="submit" class="btn btn-success" value="Додати">
    </form>
    </div>
{% endblock%}