{% extends 'base.html' %}

{% block title%}
    FAQs інструкція
{% endblock%}

{% block body %}
    <h1>Інструкція з використання</h1>
    <h3>Клієнти</h3>
    <h5>Перше що вам треба зробити це додати у вкладці "клієнти" нового клієнтиа</h5>
    <img src="{{ url_for('static', filename='add_client.png') }}">
    <h5>Потім ви потрапите у меню додавання нового клієнта</h5>
    <img src="{{ url_for('static', filename='add_client_temp.png') }}" width="100%">
    <h5>Поле з назвою клієнта та номером документа є обов'язковим до заповнення</h5>
    <h3>Шаблони</h3>
    <h5>Після додавання клієнта є можливість формувати документи у вкладці "Шаблони"</h5>
    <h5>У вас на вибір є 2 функції - скористатися стандартними шаблонами:</h5>
    <img src="{{ url_for('static', filename='stand_template.png') }}" width="100%">
    <h5>Або завантажити свій шаблон та використовувати його для генерації:</h5>
    <img src="{{ url_for('static', filename='user_temp.png') }}" width="100%">
    <h5>Шаблони приймаються у форматі .docx</h5>
    <h5>Мітки які підтримує генератор:</h5>
    <h3>КОМПАНІЯ - назва компанії клієнта</h3>
    <h3>НОМЕР_ДОГОВОРУ - номер договору з клієнтом</h3>
    <h3>АДРЕСАГЕН - адреса клієнта</h3>
    <h3>ЄДРПОУГЕН - ЄДРПОУ клієнта</h3>
    <h3>ІПНГЕН - ІПН клієнта</h3>
    <h3>ІБАНГЕН - IBAN клієнта</h3>
    <h3>ТЕЛЕФОН - телефон клієнта</h3>
    <h3>ЕПОШТА - електрона пошта клієнта</h3>
    <h3>ІНША_ІНФОРМАЦІЯ - інша інформація, що була введена при додаванні клієнта</h3>
    <h3>ПІДПИСАНТ - підписант зі сторони клієнта</h3>
    <h3>СУММА - сума(число яке було введенно при генерації шаблону</h3>
    <h3>ПРОПИСОМ - сума прописом на українській мові</h3>
    <h3>ДАТА - дата у форматі "ДД:ММ:РР"</h3>
    <h3>ПОВНИЙРІК - рік у форматі "РРРР"</h3>
    <h3>РІК - рук у форматі "РР"</h3>
    <h3>МІСЯЦЬ - місяць у форматі "ММ"</h3>
    <h3>МІСЯЦЬПРОПИС - місяць прописом українською мовою</h3>
    <h3>МИНУЛИЙМІСЯЦЬ - минулий місяць у форматі "ММ"</h3>
    <h3>МИНУЛИЙМІСЯЦЬПРОПИС - минулий місяць прописом українською мовою</h3>

    <h3>Приклад:</h3>
    <img src="{{ url_for('static', filename='exemple.png') }}">





{% endblock %}