{% extends 'base.html' %}

{% block title %}
    Шаблони користувача
{% endblock%}

{% block body %}
    <h1>Оберіть потрібний шаблон</h1><br>
    <h2>Стандартні зразки</h2>


<select id="user_templates" class="form-select form-select-lg mb-3">
  <option selected="selected" disabled>Оберіть необхідний шаблон</option>
  <option value="standart_1">Стандартний приклад 1</option>
  <option value="standart_2">Стандартний приклад 2</option>
</select>

<div class="doc_templates_standart">
     <div id="standart_1-info" class="docs" style="display:none">
        <h3>Стандартний приклад 1</h3>
        <table width="100%">
            <tr>
                <td width="90%">
                    <iframe src="{{ url_for('static', filename='Приклад_1.pdf') }}" width="100%" height="600px"></iframe>
                </td>
                <td>
                    <form method="post" action="/user_templates">
                        <input type="hidden" name="doc" value="Приклад_1">
                        <select class="form-select-sm" name="name_company">
                            <option selected="selected" disabled>Оберіть необхідного клієнта</option>
                            {% for element in client %}
                            <option value="{{ element.name_company }}">{{ element.name_company }}</option>
                            {% endfor %}
                        </select>
                        <input name="money" class="form-control" placeholder="Введіть сумму"><br>
                        <button class="btn btn-success" type="submit">Сформувати</button>
                    </form>
            </tr>
        </table>
     </div>

      <div id="standart_2-info" class="docs" style ='display:none'>
        <h3>Стандартний приклад 2</h3>
            <table width="100%">
                <tr>
                    <td width="90%">
                        <iframe src="{{ url_for('static', filename='Приклад_2.pdf') }}" width="100%" height="600px"></iframe>
                    </td>
                    <td>
                        <form method="post" action="/user_templates">
                            <input type="hidden" name="doc" value="Приклад_2">
                            <select class="form-select-sm" name="name_company">
                                <option selected="selected" disabled>Оберіть необхідного клієнта</option>
                                {% for element in client %}
                                <option value="{{ element.name_company }}">{{ element.name_company }}</option>
                                {% endfor %}
                            </select>
                            <input name="money" class="form-control" placeholder="Введіть сумму"><br>
                            <button class="btn btn-success" type="submit">Сформувати</button>
                        </form>
                    </td>
                </tr>
            </table>
      </div>
</div>

<h2>Завантажені шаблони користувача</h2>
<form method="POST", enctype="multipart/form-data" class="input_group" action="{{ url_for('upload') }}">
    <input class="form-control" name="name_new_file" placeholder="Введіть назву шаблона">
    <input class="form-control" type="file" name="new_file" >
    <input type="submit" class="btn btn-success" value="Завантажити">
</form>

<script>
const fruitSelect = document.getElementById('user_templates');
const fruitInfos = document.getElementsByClassName('docs');

// Отображаем блок с информацией о выбранном фрукте
function showFruitInfo(fruit) {
  for (let i = 0; i < fruitInfos.length; i++) {
    fruitInfos[i].style.display = 'none'; // Скрываем все блоки с информацией
  }

  if (fruit) {
    const fruitInfo = document.getElementById(fruit + '-info');
    fruitInfo.style.display = 'block'; // Отображаем блок с информацией о выбранном фрукте
  }
}

// Обработчик события изменения выбранного значения в выпадающем списке
fruitSelect.addEventListener('change', function() {
  const selectedFruit = fruitSelect.value;
  showFruitInfo(selectedFruit);
});
</script>

{% endblock %}

